{% extends 'brightbytes/layout.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %}

<div class='progress-card'>
    <h1>Your progress</h1>

    <p>You completed 67 lessons out of 107</p>
    <div class='progress'>
        <div class='progress-bar' role='progressbar' style='width: 70%' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100'></div>
    </div>

    <div class='button-wrapper'>
        <a type='button' class='btn btn-secondary w-25' href='{% url "brightbytes:lessons" "36" %}'>Continue</a>
    </div>
</div>

<h1 class="leaderboard-title">Leaderboard</h1>

<div class="leaderboard">
    {% for user in users %}
    <div class="user">
        <div class="name">{{ forloop.counter }}. {{ user.username }}</div>
        <div class="nav-icon-wrapper points-wrapper">
            <i class="nav-icon bi bi-star-fill"></i>
            <span>{{ user.points }}</span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}