{% extends "brightbytes/layout.html" %}

{% block body %}

<h1 class="lessons-h1">Lesson: Working with Termux</h1>

<div class="lessons-container">
    <div class="lesson">
        <div>
            <div class="number">1</div>
            <div class="title">What is Termux?</div>
        </div>
        <div>
            <div class="status">Completed</div>
            <div class='button-wrapper'>
                <a type='button' class='btn btn-secondary w-25' href='#'>Redo</a>
            </div>
        </div>
    </div>
    <div class="lesson">
        <div>
            <div class="number">2</div>
            <div class="title">Simple Termux Commands</div>
        </div>
        <div>
            <div class="status">Completed</div>
            <div class='button-wrapper'>
                <a type='button' class='btn btn-secondary w-25' href='#'>Redo</a>
            </div>
        </div>
    </div>
    <div class="lesson">
        <div>
            <div class="number">3</div>
            <div class="title">How to install packages?</div>
        </div>
        <div>
            <div class="status">Completed</div>
            <div class='button-wrapper'>
                <a type='button' class='btn btn-secondary w-25' href='#'>Redo</a>
            </div>
        </div>
    </div>
    <div class="lesson">
        <div>
            <div class="number">4</div>
            <div class="title">Use Python on Termux</div>
        </div>
        <div>
            <div class="status">Completed</div>
            <div class='button-wrapper'>
                <a type='button' class='btn btn-secondary w-25' href='#'>Redo</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

