{% extends "brightbytes/layout.html" %}

{% block body %}

<h1 class="lessons-h1">Lesson: Working with Termux</h1>

<div class="lessons-container">
    {% for lesson in lessons %}
        <div class="lesson">
            <div>
                <div class="number">{{ forloop.counter }}</div>
                <div class="title">{{ lesson.title }}</div>
            </div>
            <div>
                <div class="status"></div>
                <div class='button-wrapper'>
                    <a type='button' class='btn btn-secondary w-25' href='{% url "brightbytes:lesson" lesson.id %}'>Complete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

